<amis-form-control [labelFontWeight]="_labelFontWeight" [labelClass]="_labelClass" [isShowLabel]="_isShowLabel"
    [labelText]="_labelText" [isRequired]="_isRequiredLabel  && !_isViewOnly" [labelPositon]="_labelPositon"
    [labelWidth]="_labelWidth" [tooltipContent]="_tooltipContent" [isShowTooltip]="_isShowTooltip"
    [fieldName]="_fieldName" [labelColor]="labelColor">
    <div #control class="wrap-control dis-flex dis-align-items-center text-overflow" title="{{displayValue && (_readonly || isNotPermissionUpdate) ? displayValue : ''}}">
        <div *ngIf="!_isViewOnly || (_isEditable && !_isViewEditable)" class="dis-flex-grow text-overflow">
            <div class="dis-flex dis-flex-grow text-overflow">
                <div [class.control-dynamic-selectbox]="isDynamicCombobox && _isShowCustomData"
                    [class.disabled-control]="_readonly || isNotPermissionUpdate" class="dis-flex-grow text-overflow">
                    <dx-tag-box [dataSource]="dataSource" [displayExpr]="displayExpr" [valueExpr]="valueExpr" #selectbox
                        (onOpened)="onOpened($event)" [placeholder]="_placeholder" #formControl="ngModel"
                        [disabled]="_readonly || isNotPermissionUpdate" [searchExpr]="searchArray"
                        [searchEnabled]="searchEnabled" [noDataText]="noDataText" [(ngModel)]="controlValue"
                        (onValueChanged)="onValueChanged($event)" [showDropDownButton]="true"
                        [showSelectionControls]="true" (keydown)="onKeyDown.emit($event)" id="{{targetID}}"
                        [class.border-error]="_isSubmit && _isShowError && (formControl.errors || _isErrorCustom || _isError)"
                        [deferRendering]="true" tagTemplate="tagTemplate" class="flex tagbox-control text-overflow"
                        itemTemplate="item" >

                        <!-- custom tag hiện lên  -->
                        <div *dxTemplate="let tagData of 'tagTemplate'" [title]=" tagData[displayExpr]"
                            class="dx-tag-content dis-flex dis-align-items-center cursor-pointer text-overflow">
                            <span class="text-overflow">{{tagData[displayExpr]}}</span>
                            <div #removeIcon class="dx-tag-remove-button dis-none"></div>
                            <amis-icon [classIcon]="'icon-close-small '" class="m-l-8" [isShowTooltip]="false" (click)="removeIcon.click()" [_backgroundType]="backgroundType.Grey">
                            </amis-icon>
                            <!-- <div class="icon-close-small tag-remove-icon" (click)="removeIcon.click()">
                            </div> -->
                        </div>


                        <div *dxTemplate="let data of 'item'" class="app-dropdown-item"
                            [title]="data.DisplayField ? data.DisplayField : data[displayExpr]">
                            <div class="text-overflow flex">
                                {{data.DisplayField ? data.DisplayField : data[displayExpr]}}
                            </div>
                            <div class="icon-tick-blue">
                            </div>
                        </div>

                    </dx-tag-box>
                    <div *ngIf="isDynamicCombobox && _isShowCustomData" (click)="loadPopupByType()"
                        class="more-option-icon dis-flex dis-align-items-center cursor-pointer">
                        <div [ngClass]="(iconMore != '') ? iconMore :'icon-optional-more'">
                        </div>
                    </div>
                </div>
                <div *ngIf="_isEditable && !_isViewEditable" class="dis-flex dis-align-items-center option-icons">
                    <div class="ml-2">
                        <div class="icon-tick-circle-green  cursor-pointer" (click)="onClickDone();">
                        </div>
                    </div>
                    <div class="hover-icon">
                        <div class="icon-error-circle  cursor-pointer" (click)="onClickCancel();">
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="_isSubmit && _isShowError && !_readonly" class="white-space-initial">
                <div class="text-error" *ngIf="formControl.errors && !_isErrorCustom && !_isError"
                    [innerHTML]="formControl.errors?.message">
                    <!-- {{formControl.errors?.message}} -->
                </div>
                <div class="text-error" *ngIf="_isErrorCustom || _isError" [innerHTML]="_errorMessage">
                    <!-- {{ _errorMessage }} -->
                </div>
            </div>
        </div>
        <div *ngIf="_isViewOnly || (_isEditable && _isViewEditable)" [title]="displayValue ? displayValue : ''"
            class="dis-flex-grow  value-display text-overflow">
            <div class="dis-flex-grow dis-flex dis-flex-row field-value text-overflow"
                [class.editable-field-value]="!_readonly && _isEditable && _isViewEditable">
                <div *ngIf="value" class="text-overflow">{{displayValue}}</div>
                <div *ngIf="!value">--</div>
            </div>
        </div>
        <div *ngIf="(_isEditable && _isViewEditable) && !_readonly" class="cursor-pointer option-icons">
            <div class="ml-2" subSystemCode="{{_permissionSubSystemCode}}"
                permissionCodeList="{{_permissionCode}}" actionCode="{{permissionCodeEntity.Edit}}"
                permissionObject="{{_permissionObject}}">
                <div class="icon-edit " (click)="onClickEdit();">
                </div>
            </div>
            <div class="hover-icon ">
                <div class="icon-duplicate " (click)="onClickDuplicate()">
                </div>
            </div>
        </div>
        <div *ngIf="(_isEditable && _isViewEditable) && _readonly" class="option-icons">
            <div class="ml-2" subSystemCode="{{_permissionSubSystemCode}}" permissionCodeList="{{_permissionCode}}"
                actionCode="{{permissionCodeEntity.Edit}}" permissionObject="{{_permissionObject}}">
                <div class="icon-lock"></div>
            </div>
            <div class="hover-icon  cursor-pointer">
                <div class="icon-duplicate " (click)="onClickDuplicate()">
                </div>
            </div>
        </div>


    </div>
</amis-form-control>

<ng-container #popupSelectData>

</ng-container>


<dx-load-panel *ngIf="loadingVisible" #loadPanel shadingColor="rgba(0,0,0,0.4)" [position]="loadingPosition"
    class="load-panel-tagbox-dropdown" [(visible)]="loadingVisible" [showIndicator]="true" [showPane]="false"
    [shading]="false" [closeOnOutsideClick]="false">
</dx-load-panel>