@import "./var-styleguide.scss";
// for multi browser
@mixin make-property($property, $value) {
  @each $prefix in -webkit-, -moz-, -ms-, -o-, "" {
    #{$prefix}#{$property}: $value;
  }
}

// box shadow
@mixin box-shadow($string) {
  @include make-property(box-shadow, $string);
}

// border radius
@mixin border-radius($radius: $border-radius) {
  @include make-property(border-radius, $radius);
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

// host component
@mixin host {
  width: 100%;
  height: 100%;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important;
}

