<amis-popup-confirm [title]="'Xóa cuộc trò chuyện'" [width]="'475px'" [isVisible]="isVisible" (onCancel)="closePopup($event)">
    <div content class="content">
        <div>{{"COMFIRM_DELETE_CONVERSATION" | translate}}</div>
    </div>
    <div footer style="display: flex;">
        <div class="btn btn-cancel m-r-8 flex-m" (click)="close()">
            <span>{{"BUTTON.CANCEL_2" | translate}}</span>
        </div>
        <div class="btn btn-confirm flex-m" (click)="deleteChat()">
            <span>{{"BUTTON.ANGREE" | translate}}</span>
        </div>
    </div>
</amis-popup-confirm>