<div>
  <div style="padding: 8px 16px 8px 8px;" class="conversation-item flex-m" (click)="replyAction()">
    <div class="icon-mess-reply">

    </div>
    <div>Trả lời</div>
  </div>
  <div style="padding: 8px 16px 8px 8px;" class="conversation-item flex-m" (click)="forwardAction()">
    <div class="icon-mess-forward">

    </div>
    <div>Chuyển tiếp</div>
  </div>
  <div style="padding: 8px 16px 8px 8px;" class="conversation-item flex-m" (click)="copyAction()">
    <div class="icon-mess-copy">

    </div>
    <div>Sao chép</div>
  </div>
  <!-- <div *ngIf="isOwner" style="padding: 8px 16px 8px 8px;" class="conversation-item flex-m" (click)="revokeAction()">
    <div class="icon-mess-revoke">

    </div>
    <div>Thu hồi</div>
  </div>
  <div *ngIf="isOwner" style="padding: 8px 16px 8px 8px;" class="conversation-item flex-m" (click)="deleteAction()">
    <div class="icon-mess-delete">

    </div>
    <div style="color: #DE2B2B;">Xóa</div>
  </div> -->
</div>
