@import './../../../assets//scss/var-color.scss';

.hei-100{
    height: 100%;
}

.width-100{
    width: 100%;
}

.range-date{
 position: relative;
}

.icon-range{
   position: absolute;
   top: 1px;
   right: 0px;
   height: calc(100% - 2px);
   width: 34px;
   border-left: 1px solid $border;
}

.icon-range:hover{
    cursor: pointer;
}

.popup-rangedate{
    position: absolute !important;
    top: 0px;
    right: 0px;
}

::ng-deep .popup-rangedate.popup-rangedate.dx-popup-wrapper.dx-overlay-modal.dx-overlay-shader{
    position: absolute !important;
    top: 0px;
    right: 0px;
    background-color: unset !important;
}