<amis-popup [title]="'Chuyển tiếp tin nhắn'" [width]="'416px'">
 
    <div content class="content">
        <div class="forward-mess">
            <!-- <div class="title-forward-mess fs-14">{{"AMIS_CHAT" | translate}}</div> -->
            <div class="title-forward-mess fs-14">Tin nhắn</div>
            <div class="message">Vầng anh, em sẽ cố gắng ạ.</div>
        </div>
        <div class="search-user">
            <div class="from-to fs-14">Gửi đến</div>
            <div class="searching"></div>
        </div>
        <div class="contact-recently">
            <div class="group-recently">
                <div class="title-group fs-14">Nhóm gần đây</div>
                <div></div>
            </div>
            <div class="contact-recently"></div>
        </div>

    </div>
    <div footer class="footer-forward-mess">
        <div class="btn-done">
            <span class="btn-done-text">Xong</span>
        </div>
    </div>
</amis-popup>