<amis-form-control [labelFontWeight]="_labelFontWeight" [labelClass]="_labelClass" [isShowLabel]="_isShowLabel"
  [labelText]="_labelText" [isRequired]="_isRequiredLabel  && !_isViewOnly" [labelPositon]="_labelPositon"
  [labelWidth]="_labelWidth" [fieldName]="_fieldName" [tooltipContent]="_tooltipContent" [labelColor]="labelColor"
  [isShowTooltip]="_isShowTooltip">
  <div #control class="wrap-control dis-flex dis-align-items-center text-overflow" title="{{displayValue && (_readonly || isNotPermissionUpdate) ? displayValue : ''}}">
    <div *ngIf="!_isViewOnly || (_isEditable && !_isViewEditable)" class="dis-flex-grow text-overflow">
      <div class="dis-flex dis-flex-grow">
        <div [class.control-dynamic-selectbox]="isDynamicCombobox && _isShowCustomData"
          [class.disabled-control]="_readonly || isNotPermissionUpdate" class="div-wrap-selectbox dis-flex-grow" >
          <dx-select-box [dataSource]="dataSource" [displayExpr]="displayExpr" id="{{targetID}}" [valueExpr]="valueExpr"
            #selectbox (onInitialized)="onInitialized($event)" (onOpened)="onOpened($event)"
            [placeholder]="_placeholder" #formControl="ngModel" [searchExpr]="searchArray"
            (keydown)="onKeyDown.emit($event)" [searchEnabled]="searchEnabled" [noDataText]="noDataText"
            [(ngModel)]="value" [disabled]="_readonly || isNotPermissionUpdate" [acceptCustomValue]="acceptCustomValue" (onCustomItemCreating)="onCustomItemCreating($event)"
            [class.border-error]="_isSubmit && _isShowError && (formControl.errors || _isErrorCustom || _isError)"
            (onValueChanged)="onValueChanged($event)" (onItemClick)="selectItem($event)" class="flex"
            itemTemplate="item" (onKeyDown)="checkEnterKey($event)">
            
            <div *dxTemplate="let data of 'item'" [title]="data.DisplayField ? data.DisplayField : data[displayExpr]"
              class="app-dropdown-item">
              <div class="text-overflow flex" [class.selected-item]="value === data[valueExpr]">
                {{data.DisplayField ? data.DisplayField : data[displayExpr]}}
              </div>
              <div *ngIf="value === data[valueExpr]" class="icon-tick-blue-2">
              </div>
            </div>
          </dx-select-box>

          <div *ngIf="isDynamicCombobox && isShowCustomMore && _isShowCustomData" (click)="loadPopupByType()"
            class="more-option-icon dis-flex dis-align-items-center cursor-pointer">
            <amis-icon [classIcon]="iconMore" class="ic-control" [tooltipContent]="'Thiết lập giá trị'"
              [isHoverState]="false">
            </amis-icon>
            <!-- <div class="{{iconMore}} ic-control">
            </div> -->
          </div>
        </div>
        <div *ngIf="_isEditable && !_isViewEditable" class="dis-flex dis-align-items-center option-icons pl-2">
          <amis-icon [classIcon]="'icon-tick-circle-green'" (click)="onClickDone()"
            tooltipContent="{{'SAVE' | translate}}">
          </amis-icon>

          <amis-icon [classIcon]="'icon-error-circle'" (click)="onClickCancel()"
            tooltipContent="{{'CANCEL' | translate}}">
          </amis-icon>
        </div>
      </div>

      <div *ngIf="_isSubmit && _isShowError && !_readonly" class="white-space-initial">
        <div class="text-error" *ngIf="formControl.errors && !_isErrorCustom && !_isError"
          [innerHTML]="formControl.errors?.message">
          <!-- {{formControl.errors?.message}} -->
        </div>
        <div class="text-error" *ngIf="_isErrorCustom || _isError" [innerHTML]="_errorMessage">
          <!-- {{ _errorMessage }} -->
        </div>
      </div>
    </div>
    <div *ngIf="_isViewOnly || (_isEditable && _isViewEditable)" [title]="displayValue ? displayValue : ''"
      class="dis-flex-grow  value-display text-overflow">
      <div class="dis-flex-grow dis-flex dis-flex-row field-value text-overflow"
        [class.editable-field-value]="!_readonly && _isEditable && _isViewEditable">
        <div *ngIf="value" class="text-overflow">{{displayValue}}</div>
        <div *ngIf="!value">-</div>
      </div>
    </div>
    <div *ngIf="(_isEditable && _isViewEditable) && !_readonly" class="cursor-pointer option-icons">
      <div class="ml-2" subSystemCode="{{_permissionSubSystemCode}}" permissionCodeList="{{_permissionCode}}"
        actionCode="{{permissionCodeEntity.Edit}}" permissionObject="{{_permissionObject}}">
        <amis-icon [classIcon]="'icon-edit '" (click)="onClickEdit()" tooltipContent="{{'EDIT2' | translate}}">
        </amis-icon>
      </div>
      <amis-icon [classIcon]="'icon-duplicate '" (click)="onClickDuplicate()" tooltipContent="{{'COPY' | translate}}">
      </amis-icon>
      <!-- <div class="hover-icon">
        <div class="icon-duplicate " (click)="onClickDuplicate()">
        </div>
      </div> -->
    </div>
    <div *ngIf="(_isEditable && _isViewEditable) && _readonly" class="option-icons">
      <div class="no-hover-icon ml-2" subSystemCode="{{_permissionSubSystemCode}}"
        permissionCodeList="{{_permissionCode}}" actionCode="{{permissionCodeEntity.Edit}}"
        permissionObject="{{_permissionObject}}">
        <amis-icon [classIcon]="'icon-lock '" [isCursorPointer]="false" [isShowTooltip]="false" [isHoverState]="false">
        </amis-icon>
      </div>
      <amis-icon [classIcon]="'icon-duplicate '" (click)="onClickDuplicate()" tooltipContent="{{'COPY' | translate}}">
      </amis-icon>
    </div>

  </div>
</amis-form-control>

<ng-container #popupSelectData>

</ng-container>

<dx-load-panel *ngIf="loadingVisible" #loadPanel shadingColor="rgba(0,0,0,0.4)" [position]="loadingPosition"
  class="load-panel-dropdown" [(visible)]="loadingVisible" [showIndicator]="true" [showPane]="false" [shading]="false"
  [closeOnOutsideClick]="false">
</dx-load-panel>