::ng-deep {
    .hrm-contract-create-multi-form {
        .dx-datagrid-table .dx-row.dx-data-row {
            cursor: default !important;
        }

        .dx-datagrid-table .dx-row.dx-data-row {
            cursor: default !important;
        }

        .dx-datagrid-table .dx-row.dx-data-row {
            cursor: default !important;
        }

    }
}