<div (scroll)="onScroll($event)" class="h-full list-conver">
  <ng-container *ngIf="!isLoading; else loading">
    <div *ngIf="_valueSearch && listConversations?.length" class="head m-t-8 m-b-8 text-gray">
      Cuộc trò chuyện
    </div>
    <div class="conversation-item cur flex-m" *ngFor="
        let conversation of listConversations;
        let i = index;
        trackBy: trackByConver
      " (click)="showConverSation(conversation)">
      <div class="conversation-info flex-m" title="{{ conversation.name }}">
        <div class="avatar m-r-16">
          <amis-avatar *ngIf="!conversation?.isGroup" [useFor]="'Conv'" [size]="48" [conv]="conversation"></amis-avatar>
          <amis-avatar-group *ngIf="conversation?.isGroup" [size]="48" [paticipant]="conversation.participants">
          </amis-avatar-group>
        </div>
        <div class="info">
          <div class="user-name" [ngClass]="{ bold: conversation.unreadCount > 0 ? true : false }">
            {{ conversation | nameConv }}
          </div>
          <!-- <div class="last-message text-grey " [class.bold]="conversation.lastMessage.state != 4">
        {{conversation.lastMessage.content.content}}</div> -->
          <div class="flex-m">
            <div class="last-message text-grey" [ngClass]="{ bold: conversation.unreadCount > 0 ? true : false }">
              <ng-container *ngIf="!conversation.lastMessage.metadata">
                <div class="last-message text-grey" [innerHTML]="conversation.lastMessage.content.content"></div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
      <div class="status flex-m">
        <div class="mess-unreadCount" *ngIf="conversation.unreadCount > 0">
          {{ conversation.unreadCount }}
        </div>
        <div class="icon-user-online" *ngIf="conversation.status == 1"></div>
        <!-- <div>{{conversation.lastMessage.createdAt | date: "hh:mm"}}</div> -->
      </div>
    </div>
    <div *ngIf="_valueSearch && listDirectory?.length" class="head m-t-8 m-b-8 text-gray">
      Người dùng
    </div>
    <div *ngFor="let item of listDirectory" (click)="showUserConversation(item)">
      <div class="conversation-item pos-relative" [ngClass]="{ 'active-item': isValue == item.conversationId }"
        nz-popover nzPopoverTrigger="hover" nzPopoverPlacement="right" [nzPopoverContent]="contentTemplate">
        <div class="wrap flex-m">
          <amis-avatar [size]="48" [src]="item?.Avatar"></amis-avatar>
          <div class="info m-l-16">
            <div class="title">
              {{ item?.FullName }}
            </div>
          </div>
          <div class="user-online-in-contact icon-user-online" *ngIf="item?.status == 1"></div>
        </div>
        <ng-template #contentTemplate>
          <amis-content-info [stringeeUserID]="item.StringeeUserID"></amis-content-info>
        </ng-template>
      </div>
    </div>
    <ng-container *ngIf="isLoadMore">
      <ng-template [ngTemplateOutlet]="loading"></ng-template>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="!isLoading && isEmpty">
    <div class="text-grey flex-c-m w-full h-full">
      {{'NODATA' | translate}}
    </div>
  </ng-container>
</div>
<ng-template #loading>
  <div class="conversation-item pos-relative flex-m">
    <nz-skeleton-element class="m-r-8 m-l-8" [nzActive]="true" nzType="avatar" [nzSize]="48">
    </nz-skeleton-element>
    <nz-skeleton-element nzType="input" [nzSize]="'small'" [nzActive]="true" class="m-l-12" style="width: 200px">
    </nz-skeleton-element>
  </div>
  <div class="conversation-item pos-relative flex-m">
    <nz-skeleton-element class="m-r-8 m-l-8" [nzActive]="true" nzType="avatar" [nzSize]="48">
    </nz-skeleton-element>
    <nz-skeleton-element nzType="input" [nzSize]="'small'" [nzActive]="true" class="m-l-12" style="width: 200px">
    </nz-skeleton-element>
  </div>
  <div class="conversation-item pos-relative flex-m">
    <nz-skeleton-element class="m-r-8 m-l-8" [nzActive]="true" nzType="avatar" [nzSize]="48">
    </nz-skeleton-element>
    <nz-skeleton-element nzType="input" [nzSize]="'small'" [nzActive]="true" class="m-l-12" style="width: 200px">
    </nz-skeleton-element>
  </div>
  <div class="conversation-item pos-relative flex-m">
    <nz-skeleton-element class="m-r-8 m-l-8" [nzActive]="true" nzType="avatar" [nzSize]="48">
    </nz-skeleton-element>
    <nz-skeleton-element nzType="input" [nzSize]="'small'" [nzActive]="true" class="m-l-12" style="width: 200px">
    </nz-skeleton-element>
  </div>
</ng-template>

<ng-template #empty>

</ng-template>
