@import "../../../../assets/scss/var-color.scss";

.export-type {
  .uncheck-icon {
    &:hover {
      cursor: pointer;
    }
    width: 24px;
    height: 24px;
    background: url(/assets/images/Icon.svg) -240px -24px no-repeat;
  }
  .checked-icon {
    &:hover {
      cursor: pointer;
    }
    width: 24px;
    height: 24px;
    background: url(/assets/images/Icon.svg) -264px -24px no-repeat;
  }
}
.uncheck-square-icon {
  &:hover {
    cursor: pointer;
  }
  width: 24px;
  height: 24px;
  background: url(/assets/images/Icon.svg) -24px -48px no-repeat;
}
.checked-square-icon {
  &:hover {
    cursor: pointer;
  }
  width: 24px;
  height: 24px;
  background: url(/assets/images/Icon.svg) -240px -48px no-repeat;
}
.dx-list-item-after-bag .dx-list-reorder-handle {
  :before {
    content: none !important;
  }
  width: 24px !important;
  height: 24px !important;
  background: url(src/assets/images/Icon.svg) -168px -24px no-repeat !important;
}

:host {
  #list-column-export {
    ::ng-deep {
      .dx-list-with-search {
        position: relative;
        padding-top: 0px;
        .dx-searchbox {
          position: fixed;
          z-index: 1;
          margin: 0 8px;
          width: calc(100% - 34px);
        }
        .dx-scrollable-wrapper {
          margin-top: 48px;
          height: 100%;
          .dx-scrollable-content {
            max-height: 288px;
          }
          .dx-item.dx-list-item.dx-list-item-selected {
            color: $text;
          }
        }
      }
      .dx-checkbox-icon {
        width: 16px;
        height: 16px;
        font-size: 10px !important;
      }
      .dx-list-item {
        border-top: none !important;
      }

      .dx-scrollable-scrollbar.dx-widget.dx-scrollbar-vertical.dx-scrollbar-hoverable {
        width: 10px !important;
      }

      .dx-list-item-before-bag .dx-list-select-checkbox,
      .dx-list-item-before-bag .dx-list-select-radiobutton {
        margin-bottom: 0 !important;
      }
    }
  }

  .widget-container {
    display: flex;
  }

  .widget-container > * {
    max-height: 400px;
    width: 100%;
    padding: 8px;
  }
  // @media only screen and (max-width: 1366px) {
  //   .dx-scrollable-wrapper {
  //     //
  //     .dx-scrollable-content {
  //       max-height: 216px;
  //     }
  //   }
  // }
}

::ng-deep {
  .max-selection {
    .dx-item.dx-list-item {
      pointer-events: none;
     
    }
    .dx-item.dx-list-item.dx-list-item-selected {
      pointer-events: all;
   
    }
  }
  @media only screen and (max-width: 1366px) {
    #list-column-export {
      .dx-scrollable-wrapper {
        //
        .dx-scrollable-content {
          max-height: 216px !important;
        }
      }
    }
  }
  #list-column-export {
    .dx-list-item-selected {
      color: $text;
    }

    .dx-list-item {
      border-top: none !important;
    }
  }

  .all-columns{
    margin-left: 7px;
  }
}
