<div class="w-full">
  <div class="m-l-32">
    <amis-reply-message *ngIf="_msg?.content?.metadata?.Reference" [msg]="_msg" [type]="'sender'"></amis-reply-message>
  </div>

  <div class="w-full sender pos-relative flex-r-m">
    <ng-template #actionOptionTemplate>
      <div class="flex-m">
        <amis-icon
          (click)="actionOptionHandler()"
          [classIcon]="'icon-mess-action'"
          [(nzPopoverVisible)]="visibleActionPopover"
          nz-popover
          nzPopoverTrigger="focus"
          [nzPopoverPlacement]="['bottomLeft', 'topLeft']"
          [nzPopoverOverlayClassName]="'mess-action'"
          [nzPopoverContent]="actionTemplate"
        >
        </amis-icon>
       
      </div>
    </ng-template>

    <ng-template #actionTemplate>
      <amis-message-action
        (actionGenerate)="handleAction($event)"
        [msg]="_msg"
        [isOwner]="true"
      ></amis-message-action>
    </ng-template>

    <div
      style="width: 75%"
      class=""
      [class.fs-22]="_msg?.isOnlyEmoji"
      [nzTooltipMouseEnterDelay]="1"
      [nzTooltipTitle]="_msg?.createdAt | date: 'hh:mm a'"
      nzTooltipPlacement="top"
      nz-tooltip
      [(nzPopoverVisible)]="visibleOptionActionPopover"
      nz-popover
      nzPopoverTrigger="focus"
      nzPopoverPlacement="left"
      [nzPopoverOverlayClassName]="'mess-action-option'"
      [nzPopoverContent]="actionOptionTemplate"
      [nzPopoverOverlayClassName]="'mess-action-option'"
      (click)="openAction()"
    >
      <nz-image-group
        class="flex flex-wrap flex-r-m w-full h-full"
        [nzTooltipMouseEnterDelay]="0.5"
        
        nzTooltipPlacement="top"
        nz-tooltip
        [(nzPopoverVisible)]="visibleOptionActionPopover"
        nz-popover
        nzPopoverTrigger="hover"
        nzPopoverPlacement="left"
        [nzPopoverOverlayClassName]="'mess-action-option'"
        [nzPopoverContent]="actionOptionTemplate"
        [nzPopoverOverlayClassName]="'mess-action-option'"
        [nzPopoverMouseLeaveDelay]="2"
        (click)="openAction()"
        #previewRef
      >
        <div
          class="attachment flex-m pos-relative hov-pointer"
          *ngFor="let item of _msg?.content?.metadata?.ListFile; let i = index"
        >
          <div
            *ngIf="_msg?.content?.metadata?.ListFile.length == 1"
            style="border-radius: 8px; overflow: hidden"
            class="overflow-hidden single w-full h-full m-t-8"
          >
            <img
              (click)="preview(i)"
              [nzDisablePreview]="true"
              class="hov-pointer"
              nz-image
              nzSrc="{{ item.PreviewUrl }}"
              alt=""
              
            />
          </div>

          <div
            *ngIf="_msg?.content?.metadata?.ListFile.length > 1"
            style="border-radius: 8px; overflow: hidden"
            class="overflow-hidden m-l-8 m-t-8"
          >
            <img
              (click)="preview(i)"
              [nzDisablePreview]="true"
              class="hov-pointer"
              nz-image
              width="90"
              height="90"
              nzSrc="{{ item.PreviewUrl }}"
              alt=""
            />
          </div>
        </div>
      </nz-image-group>
    </div>
    <!-- <amis-read-receipt [msg]="_msg" [conv]="_conv"></amis-read-receipt> -->
  </div>
</div>
