@import "../../../assets/scss/var-color.scss";
@import "../../../assets/scss/var-mixin.scss";
:host {
  .hrm-base-toolbar-filter {
    padding: 16px 0;
    height: 100%;
    .padding-map {
      padding: 0 16px;
    }
    .btn-close {
      cursor: pointer;
      margin: auto;
    }
    .list-item-filter {
      // overflow: auto;
      height: calc(100% - 185px);
      padding-right: 0;
      padding-left: 8px;
      .scroll-view{
        padding-right: 8px;
      }
      .item-filter {
        padding: 6px 8px;
        border-radius: $border-radius;
        .check-box-item {
          margin-left: -2px;
          cursor: pointer;
        }
        .item-name {
          line-height: 24px;
        }
      }
      .item-filter:hover{
        background-color: $hover;
      }
    }
    .list-button-action {
      padding: 9px 16px 10px 16px;
      position: absolute;
      bottom: 0;
      border-top: solid 1px $border;
    }
  }
}

::ng-deep {
  .hrm-base-toolbar-filter {
    .list-button-action {
      .btn-action-filter {
        width: 110px;
      }
    }
    .item-filter-type {
      .box-drop-filter {
        width: 100%;
        &.show-fliter {
          width: calc(100% - 38px);
        }
      }
      .btn-action-template-fil {
        width: 36px;
        height: 36px;
        padding: 0;
        border-radius: 50%;
        border: none;
      }
      .cus-drop-action-tem {
        border: none;
        min-width: 120px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
      }
    }
  }
  .popup-add-option-filter {
    .dx-toolbar{
      .dx-toolbar-after{
        .dx-closebutton{
          .dx-button-content{
            padding: 0!important;
            .dx-icon-close{
              width: 24px;
              height: 24px;
              -webkit-mask-position: 0 -72px;
              -moz-mask-position: 0 -72px;
              -ms-mask-position: 0 -72px;
              -o-mask-position: 0 -72px;
              mask-position: 0 -72px;
            }
          }
        }
      }
    }
    .dx-popup-content {
      .option-filter-content {
        padding: 16px 20px;
        .mg-30-per {
          margin: 0 30%;
        }
      }
      .option-filter-footer {
        padding: 12px 16px;
        border-top: solid 1px $border;
      }
    }
  }
}
