// ------------------------------------------------- Hình ma trắng đang bay
[sticker-name='ghost'] {
    background-image: url('/apps/messenger/assets/sticker/img/ghost/ghost_6.gif');
}

.sticker[st='ghost_1'] {
    background-image: url('/apps/messenger/assets/sticker/img/ghost/ghost_1.gif');
}

.sticker[st='ghost_2'] {
    background-image: url('/apps/messenger/assets/sticker/img/ghost/ghost_2.gif');
}

.sticker[st='ghost_3'] {
    background-image: url('/apps/messenger/assets/sticker/img/ghost/ghost_3.gif');
}

.sticker[st='ghost_4'] {
    background-image: url('/apps/messenger/assets/sticker/img/ghost/ghost_4.gif');
}

.sticker[st='ghost_5'] {
    background-image: url('/apps/messenger/assets/sticker/img/ghost/ghost_5.gif');
}

.sticker[st='ghost_6'] {
    background-image: url('/apps/messenger/assets/sticker/img/ghost/ghost_6.gif');
}

.sticker[st='ghost_7'] {
    background-image: url('/apps/messenger/assets/sticker/img/ghost/ghost_7.gif');
}

.sticker[st='ghost_8'] {
    background-image: url('/apps/messenger/assets/sticker/img/ghost/ghost_8.gif');
}

.sticker[st='ghost_9'] {
    background-image: url('/apps/messenger/assets/sticker/img/ghost/ghost_9.gif');
}

.sticker[st='ghost_10'] {
    background-image: url('/apps/messenger/assets/sticker/img/ghost/ghost_10.gif');
}

.sticker[st='ghost_11'] {
    background-image: url('/apps/messenger/assets/sticker/img/ghost/ghost_11.gif');
}

.sticker[st='ghost_12'] {
    background-image: url('/apps/messenger/assets/sticker/img/ghost/ghost_12.gif');
}

.sticker[st='ghost_13'] {
    background-image: url('/apps/messenger/assets/sticker/img/ghost/ghost_13.gif');
}

.sticker[st='ghost_14'] {
    background-image: url('/apps/messenger/assets/sticker/img/ghost/ghost_14.gif');
}

// ------------------------------------------------------- Hình em bé gái tức giận
[sticker-name='girl'] {
    background-image: url('/apps/messenger/assets/sticker/img/girl/girl_12.gif');
}

.sticker[st='girl_1'] {
    background-image: url('/apps/messenger/assets/sticker/img/girl/girl_1.gif');
}

.sticker[st='girl_2'] {
    background-image: url('/apps/messenger/assets/sticker/img/girl/girl_2.gif');
}

.sticker[st='girl_3'] {
    background-image: url('/apps/messenger/assets/sticker/img/girl/girl_3.gif');
}

.sticker[st='girl_4'] {
    background-image: url('/apps/messenger/assets/sticker/img/girl/girl_4.gif');
}

.sticker[st='girl_5'] {
    background-image: url('/apps/messenger/assets/sticker/img/girl/girl_5.gif');
}

.sticker[st='girl_6'] {
    background-image: url('/apps/messenger/assets/sticker/img/girl/girl_6.gif');
}

.sticker[st='girl_7'] {
    background-image: url('/apps/messenger/assets/sticker/img/girl/girl_7.gif');
}

.sticker[st='girl_8'] {
    background-image: url('/apps/messenger/assets/sticker/img/girl/girl_8.gif');
}

.sticker[st='girl_9'] {
    background-image: url('/apps/messenger/assets/sticker/img/girl/girl_9.gif');
}

.sticker[st='girl_10'] {
    background-image: url('/apps/messenger/assets/sticker/img/girl/girl_10.gif');
}

.sticker[st='girl_11'] {
    background-image: url('/apps/messenger/assets/sticker/img/girl/girl_11.gif');
}

.sticker[st='girl_12'] {
    background-image: url('/apps/messenger/assets/sticker/img/girl/girl_12.gif');
}

.sticker[st='girl_13'] {
    background-image: url('/apps/messenger/assets/sticker/img/girl/girl_13.gif');
}

.sticker[st='girl_13'] {
    background-image: url('/apps/messenger/assets/sticker/img/girl/girl_14.gif');
}
[sticker-name='hipig'] {
    background-image: url('/apps/messenger/assets/sticker/img/hipig/hipig_11.gif');
}

// ---------------------------------------------------- Hình lợn hồng
.sticker[st='hipig_1'] {
    background-image: url('/apps/messenger/assets/sticker/img/hipig/hipig_1.gif');
}

.sticker[st='hipig_2'] {
    background-image: url('/apps/messenger/assets/sticker/img/hipig/hipig_2.gif');
}

.sticker[st='hipig_3'] {
    background-image: url('/apps/messenger/assets/sticker/img/hipig/hipig_3.gif');
}

.sticker[st='hipig_4'] {
    background-image: url('/apps/messenger/assets/sticker/img/hipig/hipig_4.gif');
}

.sticker[st='hipig_5'] {
    background-image: url('/apps/messenger/assets/sticker/img/hipig/hipig_5.gif');
}

.sticker[st='hipig_6'] {
    background-image: url('/apps/messenger/assets/sticker/img/hipig/hipig_6.gif');
}

.sticker[st='hipig_7'] {
    background-image: url('/apps/messenger/assets/sticker/img/hipig/hipig_7.gif');
}

.sticker[st='hipig_8'] {
    background-image: url('/apps/messenger/assets/sticker/img/hipig/hipig_8.gif');
}

.sticker[st='hipig_9'] {
    background-image: url('/apps/messenger/assets/sticker/img/hipig/hipig_9.gif');
}

.sticker[st='hipig_10'] {
    background-image: url('/apps/messenger/assets/sticker/img/hipig/hipig_10.gif');
}

.sticker[st='hipig_11'] {
    background-image: url('/apps/messenger/assets/sticker/img/hipig/hipig_11.gif');
}

.sticker[st='hipig_12'] {
    background-image: url('/apps/messenger/assets/sticker/img/hipig/hipig_12.gif');
}

.sticker[st='hipig_13'] {
    background-image: url('/apps/messenger/assets/sticker/img/hipig/hipig_13.gif');
}

// Hình cô gái tóc dài
[sticker-name='longhairgirl'] {
    background-image: url('/apps/messenger/assets/sticker/img/longhairgirl/longhairgirl_4.gif');
}


.sticker[st='longhairgirl_1'] {
    background-image: url('/apps/messenger/assets/sticker/img/longhairgirl/longhairgirl_1.gif');
}

.sticker[st='longhairgirl_2'] {
    background-image: url('/apps/messenger/assets/sticker/img/longhairgirl/longhairgirl_2.gif');
}

.sticker[st='longhairgirl_3'] {
    background-image: url('/apps/messenger/assets/sticker/img/longhairgirl/longhairgirl_3.gif');
}

.sticker[st='longhairgirl_4'] {
    background-image: url('/apps/messenger/assets/sticker/img/longhairgirl/longhairgirl_4.gif');
}

.sticker[st='longhairgirl_5'] {
    background-image: url('/apps/messenger/assets/sticker/img/longhairgirl/longhairgirl_5.gif');
}

.sticker[st='longhairgirl_6'] {
    background-image: url('/apps/messenger/assets/sticker/img/longhairgirl/longhairgirl_6.gif');
}

.sticker[st='longhairgirl_7'] {
    background-image: url('/apps/messenger/assets/sticker/img/longhairgirl/longhairgirl_7.gif');
}

.sticker[st='longhairgirl_8'] {
    background-image: url('/apps/messenger/assets/sticker/img/longhairgirl/longhairgirl_8.gif');
}


// Hình mặt người
[sticker-name='meep'] {
    background-image: url('/apps/messenger/assets/sticker/img/meep/meep_2.png');
}

.sticker[st='sticker_1'] {
    background-image: url('/apps/messenger/assets/sticker/img/meep/meep_1.png');
}

.sticker[st='sticker_2'] {
    background-image: url('/apps/messenger/assets/sticker/img/meep/meep_2.png');
}

.sticker[st='sticker_3'] {
    background-image: url('/apps/messenger/assets/sticker/img/meep/meep_3.png');
}

.sticker[st='sticker_4'] {
    background-image: url('/apps/messenger/assets/sticker/img/meep/meep_4.png');
}

.sticker[st='sticker_5'] {
    background-image: url('/apps/messenger/assets/sticker/img/meep/meep_5.png');
}

.sticker[st='sticker_6'] {
    background-image: url('/apps/messenger/assets/sticker/img/meep/meep_6.png');
}

.sticker[st='sticker_7'] {
    background-image: url('/apps/messenger/assets/sticker/img/meep/meep_7.png');
}

.sticker[st='sticker_8'] {
    background-image: url('/apps/messenger/assets/sticker/img/meep/meep_8.png');
}

.sticker[st='sticker_9'] {
    background-image: url('/apps/messenger/assets/sticker/img/meep/meep_9.png');
}

.sticker[st='sticker_10'] {
    background-image: url('/apps/messenger/assets/sticker/img/meep/meep_10.png');
}

.sticker[st='sticker_11'] {
    background-image: url('/apps/messenger/assets/sticker/img/meep/meep_11.png');
}

.sticker[st='sticker_12'] {
    background-image: url('/apps/messenger/assets/sticker/img/meep/meep_12.png');
}

.sticker[st='sticker_13'] {
    background-image: url('/apps/messenger/assets/sticker/img/meep/meep_13.png');
}

.sticker[st='sticker_14'] {
    background-image: url('/apps/messenger/assets/sticker/img/meep/meep_14.png');
}

.sticker[st='sticker_15'] {
    background-image: url('/apps/messenger/assets/sticker/img/meep/meep_15.png');
}

.sticker[st='sticker_16'] {
    background-image: url('/apps/messenger/assets/sticker/img/meep/meep_16.png');
}

// ------------------------------------- Hình mặt cười, để class như thế này để chạy được cả class mới và cũ
.sticker[st='meep_1'] {
    background-image: url('/apps/messenger/assets/sticker/img/meep/meep_1.png');
}

.sticker[st='meep_2'] {
    background-image: url('/apps/messenger/assets/sticker/img/meep/meep_2.png');
}

.sticker[st='meep_3'] {
    background-image: url('/apps/messenger/assets/sticker/img/meep/meep_3.png');
}

.sticker[st='meep_4'] {
    background-image: url('/apps/messenger/assets/sticker/img/meep/meep_4.png');
}

.sticker[st='meep_5'] {
    background-image: url('/apps/messenger/assets/sticker/img/meep/meep_5.png');
}

.sticker[st='meep_6'] {
    background-image: url('/apps/messenger/assets/sticker/img/meep/meep_6.png');
}

.sticker[st='meep_7'] {
    background-image: url('/apps/messenger/assets/sticker/img/meep/meep_7.png');
}

.sticker[st='meep_8'] {
    background-image: url('/apps/messenger/assets/sticker/img/meep/meep_8.png');
}

.sticker[st='meep_9'] {
    background-image: url('/apps/messenger/assets/sticker/img/meep/meep_9.png');
}

.sticker[st='meep_10'] {
    background-image: url('/apps/messenger/assets/sticker/img/meep/meep_10.png');
}

.sticker[st='meep_11'] {
    background-image: url('/apps/messenger/assets/sticker/img/meep/meep_11.png');
}

.sticker[st='meep_12'] {
    background-image: url('/apps/messenger/assets/sticker/img/meep/meep_12.png');
}

.sticker[st='meep_13'] {
    background-image: url('/apps/messenger/assets/sticker/img/meep/meep_13.png');
}

.sticker[st='meep_14'] {
    background-image: url('/apps/messenger/assets/sticker/img/meep/meep_14.png');
}

.sticker[st='meep_15'] {
    background-image: url('/apps/messenger/assets/sticker/img/meep/meep_15.png');
}

.sticker[st='meep_16'] {
    background-image: url('/apps/messenger/assets/sticker/img/meep/meep_16.png');
}

// Hình minion
[sticker-name='minion'] {
    background-image: url('/apps/messenger/assets/sticker/img/minion/minion_1.png');
}

.sticker[st='minion_1'] {
    background-image: url('/apps/messenger/assets/sticker/img/minion/minion_1.png');
}

.sticker[st='minion_2'] {
    background-image: url('/apps/messenger/assets/sticker/img/minion/minion_2.png');
}

.sticker[st='minion_3'] {
    background-image: url('/apps/messenger/assets/sticker/img/minion/minion_3.png');
}

.sticker[st='minion_4'] {
    background-image: url('/apps/messenger/assets/sticker/img/minion/minion_4.png');
}

.sticker[st='minion_5'] {
    background-image: url('/apps/messenger/assets/sticker/img/minion/minion_5.png');
}

.sticker[st='minion_6'] {
    background-image: url('/apps/messenger/assets/sticker/img/minion/minion_6.png');
}

.sticker[st='minion_7'] {
    background-image: url('/apps/messenger/assets/sticker/img/minion/minion_7.png');
}

.sticker[st='minion_8'] {
    background-image: url('/apps/messenger/assets/sticker/img/minion/minion_8.png');
}

.sticker[st='minion_9'] {
    background-image: url('/apps/messenger/assets/sticker/img/minion/minion_9.png');
}

.sticker[st='minion_10'] {
    background-image: url('/apps/messenger/assets/sticker/img/minion/minion_10.png');
}

.sticker[st='minion_11'] {
    background-image: url('/apps/messenger/assets/sticker/img/minion/minion_11.png');
}

.sticker[st='minion_12'] {
    background-image: url('/apps/messenger/assets/sticker/img/minion/minion_12.png');
}

.sticker[st='minion_13'] {
    background-image: url('/apps/messenger/assets/sticker/img/minion/minion_13.png');
}

.sticker[st='minion_14'] {
    background-image: url('/apps/messenger/assets/sticker/img/minion/minion_14.png');
}

.sticker[st='minion_15'] {
    background-image: url('/apps/messenger/assets/sticker/img/minion/minion_15.png');
}
.sticker[st='minion_16'] {
    background-image: url('/apps/messenger/assets/sticker/img/minion/minion_16.png');
}

.sticker[st='minion_17'] {
    background-image: url('/apps/messenger/assets/sticker/img/minion/minion_17.png');
}

.sticker[st='minion_18'] {
    background-image: url('/apps/messenger/assets/sticker/img/minion/minion_18.png');
}

.sticker[st='minion_19'] {
    background-image: url('/apps/messenger/assets/sticker/img/minion/minion_19.png');
}

.sticker[st='minion_20'] {
    background-image: url('/apps/messenger/assets/sticker/img/minion/minion_20.png');
}

// Icon meme người quay mông
[sticker-name='meme'] {
    background-image: url('/apps/messenger/assets/sticker/img/meme/meme_1.png');
}

.sticker[st='meme_1'] {
    background-image: url('/apps/messenger/assets/sticker/img/meme/meme_1.png');
}

.sticker[st='meme_2'] {
    background-image: url('/apps/messenger/assets/sticker/img/meme/meme_2.png');
}

.sticker[st='meme_3'] {
    background-image: url('/apps/messenger/assets/sticker/img/meme/meme_3.png');
}

.sticker[st='meme_4'] {
    background-image: url('/apps/messenger/assets/sticker/img/meme/meme_4.png');
}

.sticker[st='meme_5'] {
    background-image: url('/apps/messenger/assets/sticker/img/meme/meme_5.png');
}

.sticker[st='meme_6'] {
    background-image: url('/apps/messenger/assets/sticker/img/meme/meme_6.png');
}

.sticker[st='meme_7'] {
    background-image: url('/apps/messenger/assets/sticker/img/meme/meme_7.png');
}

.sticker[st='meme_8'] {
    background-image: url('/apps/messenger/assets/sticker/img/meme/meme_8.png');
}

.sticker[st='meme_9'] {
    background-image: url('/apps/messenger/assets/sticker/img/meme/meme_9.png');
}

.sticker[st='meme_10'] {
    background-image: url('/apps/messenger/assets/sticker/img/meme/meme_10.png');
}

.sticker[st='meme_11'] {
    background-image: url('/apps/messenger/assets/sticker/img/meme/meme_11.png');
}

.sticker[st='meme_12'] {
    background-image: url('/apps/messenger/assets/sticker/img/meme/meme_12.png');
}

.sticker[st='meme_13'] {
    background-image: url('/apps/messenger/assets/sticker/img/meme/meme_13.png');
}

.sticker[st='meme_14'] {
    background-image: url('/apps/messenger/assets/sticker/img/meme/meme_14.png');
}

.sticker[st='meme_15'] {
    background-image: url('/apps/messenger/assets/sticker/img/meme/meme_15.png');
}

.sticker[st='meme_16'] {
    background-image: url('/apps/messenger/assets/sticker/img/meme/meme_16.png');
}

// Sticker foxlove
[sticker-name='foxlove'] {
    background-image: url('/apps/messenger/assets/sticker/img/foxlove/foxlove_1.png');
}

.sticker[st='foxlove_1'] {
    background-image: url('/apps/messenger/assets/sticker/img/foxlove/foxlove_1.png');
}

.sticker[st='foxlove_2'] {
    background-image: url('/apps/messenger/assets/sticker/img/foxlove/foxlove_2.png');
}

.sticker[st='foxlove_3'] {
    background-image: url('/apps/messenger/assets/sticker/img/foxlove/foxlove_3.png');
}

.sticker[st='foxlove_4'] {
    background-image: url('/apps/messenger/assets/sticker/img/foxlove/foxlove_4.png');
}

.sticker[st='foxlove_5'] {
    background-image: url('/apps/messenger/assets/sticker/img/foxlove/foxlove_5.png');
}

.sticker[st='foxlove_6'] {
    background-image: url('/apps/messenger/assets/sticker/img/foxlove/foxlove_6.png');
}

.sticker[st='foxlove_7'] {
    background-image: url('/apps/messenger/assets/sticker/img/foxlove/foxlove_7.png');
}

.sticker[st='foxlove_8'] {
    background-image: url('/apps/messenger/assets/sticker/img/foxlove/foxlove_8.png');
}

.sticker[st='foxlove_9'] {
    background-image: url('/apps/messenger/assets/sticker/img/foxlove/foxlove_9.png');
}

.sticker[st='foxlove_10'] {
    background-image: url('/apps/messenger/assets/sticker/img/foxlove/foxlove_10.png');
}

.sticker[st='foxlove_11'] {
    background-image: url('/apps/messenger/assets/sticker/img/foxlove/foxlove_11.png');
}

.sticker[st='foxlove_12'] {
    background-image: url('/apps/messenger/assets/sticker/img/foxlove/foxlove_12.png');
}

.sticker[st='foxlove_13'] {
    background-image: url('/apps/messenger/assets/sticker/img/foxlove/foxlove_13.png');
}

.sticker[st='foxlove_14'] {
    background-image: url('/apps/messenger/assets/sticker/img/foxlove/foxlove_14.png');
}

.sticker[st='foxlove_15'] {
    background-image: url('/apps/messenger/assets/sticker/img/foxlove/foxlove_15.png');
}
.sticker[st='foxlove_16'] {
    background-image: url('/apps/messenger/assets/sticker/img/foxlove/foxlove_16.png');
}

.sticker[st='foxlove_17'] {
    background-image: url('/apps/messenger/assets/sticker/img/foxlove/foxlove_17.png');
}

.sticker[st='foxlove_18'] {
    background-image: url('/apps/messenger/assets/sticker/img/foxlove/foxlove_18.png');
}
.sticker[st='foxlove_19'] {
    background-image: url('/apps/messenger/assets/sticker/img/foxlove/foxlove_19.png');
}
.sticker[st='foxlove_20'] {
    background-image: url('/apps/messenger/assets/sticker/img/foxlove/foxlove_20.png');
}

// -------------------------------------------------------- Hình gao
[sticker-name='gao'] {
    background-image: url('/apps/messenger/assets/sticker/img/gao/gao_1.png');
}

.sticker[st='gao_1'] {
    background-image: url('/apps/messenger/assets/sticker/img/gao/gao_1.png');
}

.sticker[st='gao_2'] {
    background-image: url('/apps/messenger/assets/sticker/img/gao/gao_2.png');
}

.sticker[st='gao_3'] {
    background-image: url('/apps/messenger/assets/sticker/img/gao/gao_3.png');
}

.sticker[st='gao_4'] {
    background-image: url('/apps/messenger/assets/sticker/img/gao/gao_4.png');
}

.sticker[st='gao_5'] {
    background-image: url('/apps/messenger/assets/sticker/img/gao/gao_5.png');
}

.sticker[st='gao_6'] {
    background-image: url('/apps/messenger/assets/sticker/img/gao/gao_6.png');
}

.sticker[st='gao_7'] {
    background-image: url('/apps/messenger/assets/sticker/img/gao/gao_7.png');
}

.sticker[st='gao_8'] {
    background-image: url('/apps/messenger/assets/sticker/img/gao/gao_8.png');
}

.sticker[st='gao_9'] {
    background-image: url('/apps/messenger/assets/sticker/img/gao/gao_9.png');
}

.sticker[st='gao_10'] {
    background-image: url('/apps/messenger/assets/sticker/img/gao/gao_10.png');
}

.sticker[st='gao_11'] {
    background-image: url('/apps/messenger/assets/sticker/img/gao/gao_11.png');
}

.sticker[st='gao_12'] {
    background-image: url('/apps/messenger/assets/sticker/img/gao/gao_12.png');
}

.sticker[st='gao_13'] {
    background-image: url('/apps/messenger/assets/sticker/img/gao/gao_13.png');
}

.sticker[st='gao_14'] {
    background-image: url('/apps/messenger/assets/sticker/img/gao/gao_14.png');
}

.sticker[st='gao_15'] {
    background-image: url('/apps/messenger/assets/sticker/img/gao/gao_15.png');
}
.sticker[st='gao_16'] {
    background-image: url('/apps/messenger/assets/sticker/img/gao/gao_16.png');
}

.sticker[st='gao_17'] {
    background-image: url('/apps/messenger/assets/sticker/img/gao/gao_17.png');
}

.sticker[st='gao_18'] {
    background-image: url('/apps/messenger/assets/sticker/img/gao/gao_18.png');
}
.sticker[st='gao_19'] {
    background-image: url('/apps/messenger/assets/sticker/img/gao/gao_19.png');
}
.sticker[st='gao_20'] {
    background-image: url('/apps/messenger/assets/sticker/img/gao/gao_20.png');
}

//--------------------------------------------------------- Hình maruko
[sticker-name='maruko'] {
    background-image: url('/apps/messenger/assets/sticker/img/maruko/maruko_1.png');
}

.sticker[st='maruko_1'] {
    background-image: url('/apps/messenger/assets/sticker/img/maruko/maruko_1.png');
}

.sticker[st='maruko_2'] {
    background-image: url('/apps/messenger/assets/sticker/img/maruko/maruko_2.png');
}

.sticker[st='maruko_3'] {
    background-image: url('/apps/messenger/assets/sticker/img/maruko/maruko_3.png');
}

.sticker[st='maruko_4'] {
    background-image: url('/apps/messenger/assets/sticker/img/maruko/maruko_4.png');
}

.sticker[st='maruko_5'] {
    background-image: url('/apps/messenger/assets/sticker/img/maruko/maruko_5.png');
}

.sticker[st='maruko_6'] {
    background-image: url('/apps/messenger/assets/sticker/img/maruko/maruko_6.png');
}

.sticker[st='maruko_7'] {
    background-image: url('/apps/messenger/assets/sticker/img/maruko/maruko_7.png');
}

.sticker[st='maruko_8'] {
    background-image: url('/apps/messenger/assets/sticker/img/maruko/maruko_8.png');
}

.sticker[st='maruko_9'] {
    background-image: url('/apps/messenger/assets/sticker/img/maruko/maruko_9.png');
}

.sticker[st='maruko_10'] {
    background-image: url('/apps/messenger/assets/sticker/img/maruko/maruko_10.png');
}

.sticker[st='maruko_11'] {
    background-image: url('/apps/messenger/assets/sticker/img/maruko/maruko_11.png');
}

.sticker[st='maruko_12'] {
    background-image: url('/apps/messenger/assets/sticker/img/maruko/maruko_12.png');
}

.sticker[st='maruko_13'] {
    background-image: url('/apps/messenger/assets/sticker/img/maruko/maruko_13.png');
}

.sticker[st='maruko_14'] {
    background-image: url('/apps/messenger/assets/sticker/img/maruko/maruko_14.png');
}

.sticker[st='maruko_15'] {
    background-image: url('/apps/messenger/assets/sticker/img/maruko/maruko_15.png');
}
.sticker[st='maruko_16'] {
    background-image: url('/apps/messenger/assets/sticker/img/maruko/maruko_16.png');
}

.sticker[st='maruko_17'] {
    background-image: url('/apps/messenger/assets/sticker/img/maruko/maruko_17.png');
}

.sticker[st='maruko_18'] {
    background-image: url('/apps/messenger/assets/sticker/img/maruko/maruko_18.png');
}
.sticker[st='maruko_19'] {
    background-image: url('/apps/messenger/assets/sticker/img/maruko/maruko_19.png');
}
.sticker[st='maruko_20'] {
    background-image: url('/apps/messenger/assets/sticker/img/maruko/maruko_20.png');
}

//--------------------------------------------------------- sticker cáo yêu thương
[sticker-name='foxlove'] {
    background-image: url('/apps/messenger/assets/sticker/img/foxlove/foxlove_1.png');
}

.sticker[st='foxlove_1'] {
    background-image: url('/apps/messenger/assets/sticker/img/foxlove/foxlove_1.png');
}

.sticker[st='foxlove_2'] {
    background-image: url('/apps/messenger/assets/sticker/img/foxlove/foxlove_2.png');
}

.sticker[st='foxlove_3'] {
    background-image: url('/apps/messenger/assets/sticker/img/foxlove/foxlove_3.png');
}

.sticker[st='foxlove_4'] {
    background-image: url('/apps/messenger/assets/sticker/img/foxlove/foxlove_4.png');
}

.sticker[st='foxlove_5'] {
    background-image: url('/apps/messenger/assets/sticker/img/foxlove/foxlove_5.png');
}

.sticker[st='foxlove_6'] {
    background-image: url('/apps/messenger/assets/sticker/img/foxlove/foxlove_6.png');
}

.sticker[st='foxlove_7'] {
    background-image: url('/apps/messenger/assets/sticker/img/foxlove/foxlove_7.png');
}

.sticker[st='foxlove_8'] {
    background-image: url('/apps/messenger/assets/sticker/img/foxlove/foxlove_8.png');
}

.sticker[st='foxlove_9'] {
    background-image: url('/apps/messenger/assets/sticker/img/foxlove/foxlove_9.png');
}

.sticker[st='foxlove_10'] {
    background-image: url('/apps/messenger/assets/sticker/img/foxlove/foxlove_10.png');
}

.sticker[st='foxlove_11'] {
    background-image: url('/apps/messenger/assets/sticker/img/foxlove/foxlove_11.png');
}

.sticker[st='foxlove_12'] {
    background-image: url('/apps/messenger/assets/sticker/img/foxlove/foxlove_12.png');
}

.sticker[st='foxlove_13'] {
    background-image: url('/apps/messenger/assets/sticker/img/foxlove/foxlove_13.png');
}

.sticker[st='foxlove_14'] {
    background-image: url('/apps/messenger/assets/sticker/img/foxlove/foxlove_14.png');
}

.sticker[st='foxlove_15'] {
    background-image: url('/apps/messenger/assets/sticker/img/foxlove/foxlove_15.png');
}
.sticker[st='foxlove_16'] {
    background-image: url('/apps/messenger/assets/sticker/img/foxlove/foxlove_16.png');
}

//--------------------------------------------------------- Hình congrat
[sticker-name='congrat'] {
    background-image: url('/apps/messenger/assets/sticker/img/congrat/congrat_1.png');
}
.sticker[st='congrat_1'] {
    background-image: url('/apps/messenger/assets/sticker/img/congrat/congrat_1.png');
}
.sticker[st='congrat_2'] {
    background-image: url('/apps/messenger/assets/sticker/img/congrat/congrat_2.png');
}
.sticker[st='congrat_3'] {
    background-image: url('/apps/messenger/assets/sticker/img/congrat/congrat_3.png');
}
.sticker[st='congrat_4'] {
    background-image: url('/apps/messenger/assets/sticker/img/congrat/congrat_4.png');
}
.sticker[st='congrat_5'] {
    background-image: url('/apps/messenger/assets/sticker/img/congrat/congrat_5.png');
}
.sticker[st='congrat_6'] {
    background-image: url('/apps/messenger/assets/sticker/img/congrat/congrat_6.png');
}
.sticker[st='congrat_7'] {
    background-image: url('/apps/messenger/assets/sticker/img/congrat/congrat_7.png');
}
.sticker[st='congrat_8'] {
    background-image: url('/apps/messenger/assets/sticker/img/congrat/congrat_8.png');
}
.sticker[st='congrat_9'] {
    background-image: url('/apps/messenger/assets/sticker/img/congrat/congrat_9.png');
}
.sticker[st='congrat_10'] {
    background-image: url('/apps/messenger/assets/sticker/img/congrat/congrat_10.png');
}
.sticker[st='congrat_11'] {
    background-image: url('/apps/messenger/assets/sticker/img/congrat/congrat_11.png');
}
.sticker[st='congrat_12'] {
    background-image: url('/apps/messenger/assets/sticker/img/congrat/congrat_12.png');
}
.sticker[st='congrat_13'] {
    background-image: url('/apps/messenger/assets/sticker/img/congrat/congrat_13.png');
}
.sticker[st='congrat_14'] {
    background-image: url('/apps/messenger/assets/sticker/img/congrat/congrat_14.png');
}
.sticker[st='congrat_15'] {
    background-image: url('/apps/messenger/assets/sticker/img/congrat/congrat_15.png');
}
.sticker[st='congrat_16'] {
    background-image: url('/apps/messenger/assets/sticker/img/congrat/congrat_16.png');
}
.sticker[st='congrat_17'] {
    background-image: url('/apps/messenger/assets/sticker/img/congrat/congrat_17.png');
}
.sticker[st='congrat_18'] {
    background-image: url('/apps/messenger/assets/sticker/img/congrat/congrat_18.png');
}
.sticker[st='congrat_19'] {
    background-image: url('/apps/messenger/assets/sticker/img/congrat/congrat_19.png');
}
.sticker[st='congrat_20'] {
    background-image: url('/apps/messenger/assets/sticker/img/congrat/congrat_20.png');
}
.sticker[st='congrat_21'] {
    background-image: url('/apps/messenger/assets/sticker/img/congrat/congrat_21.png');
}
.sticker[st='congrat_22'] {
    background-image: url('/apps/messenger/assets/sticker/img/congrat/congrat_22.png');
}
.sticker[st='congrat_23'] {
    background-image: url('/apps/messenger/assets/sticker/img/congrat/congrat_23.png');
}
.sticker[st='congrat_24'] {
    background-image: url('/apps/messenger/assets/sticker/img/congrat/congrat_24.png');
}
.sticker[st='congrat_25'] {
    background-image: url('/apps/messenger/assets/sticker/img/congrat/congrat_25.png');
}
.sticker[st='congrat_26'] {
    background-image: url('/apps/messenger/assets/sticker/img/congrat/congrat_26.png');
}
.sticker[st='congrat_27'] {
    background-image: url('/apps/messenger/assets/sticker/img/congrat/congrat_27.png');
}
.sticker[st='congrat_28'] {
    background-image: url('/apps/messenger/assets/sticker/img/congrat/congrat_28.png');
}
.sticker[st='congrat_29'] {
    background-image: url('/apps/messenger/assets/sticker/img/congrat/congrat_29.png');
}


// ------------------------------------- Hình 2 em chó yêu thương
[sticker-name='twodog'] {
    background-image: url('/apps/messenger/assets/sticker/img/twodog/twodog_1.png');
}

.sticker[st='twodog_1'] {
    background-image: url('/apps/messenger/assets/sticker/img/twodog/twodog_1.png');
}

.sticker[st='twodog_2'] {
    background-image: url('/apps/messenger/assets/sticker/img/twodog/twodog_2.png');
}

.sticker[st='twodog_3'] {
    background-image: url('/apps/messenger/assets/sticker/img/twodog/twodog_3.png');
}

.sticker[st='twodog_4'] {
    background-image: url('/apps/messenger/assets/sticker/img/twodog/twodog_4.png');
}

.sticker[st='twodog_5'] {
    background-image: url('/apps/messenger/assets/sticker/img/twodog/twodog_5.png');
}

.sticker[st='twodog_6'] {
    background-image: url('/apps/messenger/assets/sticker/img/twodog/twodog_6.png');
}

.sticker[st='twodog_7'] {
    background-image: url('/apps/messenger/assets/sticker/img/twodog/twodog_7.png');
}

.sticker[st='twodog_8'] {
    background-image: url('/apps/messenger/assets/sticker/img/twodog/twodog_8.png');
}

.sticker[st='twodog_9'] {
    background-image: url('/apps/messenger/assets/sticker/img/twodog/twodog_9.png');
}

.sticker[st='twodog_10'] {
    background-image: url('/apps/messenger/assets/sticker/img/twodog/twodog_10.png');
}

.sticker[st='twodog_11'] {
    background-image: url('/apps/messenger/assets/sticker/img/twodog/twodog_11.png');
}

.sticker[st='twodog_12'] {
    background-image: url('/apps/messenger/assets/sticker/img/twodog/twodog_12.png');
}

.sticker[st='twodog_13'] {
    background-image: url('/apps/messenger/assets/sticker/img/twodog/twodog_13.png');
}

.sticker[st='twodog_14'] {
    background-image: url('/apps/messenger/assets/sticker/img/twodog/twodog_14.png');
}

.sticker[st='twodog_15'] {
    background-image: url('/apps/messenger/assets/sticker/img/twodog/twodog_15.png');
}

.sticker[st='twodog_16'] {
    background-image: url('/apps/messenger/assets/sticker/img/twodog/twodog_16.png');
}


// ------------------------------------------------  Icon tết 2 em bé
[sticker-name='tet'] {
    background-image: url('/apps/messenger/assets/sticker/img/tet/tet_1.gif');
}

.sticker[st='tet_1'] {
    background-image: url('/apps/messenger/assets/sticker/img/tet/tet_1.gif');
}

.sticker[st='tet_2'] {
    background-image: url('/apps/messenger/assets/sticker/img/tet/tet_2.gif');
}

.sticker[st='tet_3'] {
    background-image: url('/apps/messenger/assets/sticker/img/tet/tet_3.gif');
}

.sticker[st='tet_4'] {
    background-image: url('/apps/messenger/assets/sticker/img/tet/tet_4.gif');
}

.sticker[st='tet_5'] {
    background-image: url('/apps/messenger/assets/sticker/img/tet/tet_5.gif');
}

.sticker[st='tet_6'] {
    background-image: url('/apps/messenger/assets/sticker/img/tet/tet_6.gif');
}

.sticker[st='tet_7'] {
    background-image: url('/apps/messenger/assets/sticker/img/tet/tet_7.gif');
}

.sticker[st='tet_8'] {
    background-image: url('/apps/messenger/assets/sticker/img/tet/tet_8.gif');
}

.sticker[st='tet_9'] {
    background-image: url('/apps/messenger/assets/sticker/img/tet/tet_9.gif');
}

.sticker[st='tet_10'] {
    background-image: url('/apps/messenger/assets/sticker/img/tet/tet_10.gif');
}

.sticker[st='tet_11'] {
    background-image: url('/apps/messenger/assets/sticker/img/tet/tet_11.gif');
}


.sticker[st='tet_12'] {
    background-image: url('/apps/messenger/assets/sticker/img/tet/tet_12.gif');
}
// ------------------------------------------------  Icon tết lợn hồng cầm tiền
[sticker-name='buffalo'] {
    background-image: url('/apps/messenger/assets/sticker/img/buffalo/buffalo_1.gif');
}

.sticker[st='buffalo_1'] {
    background-image: url('/apps/messenger/assets/sticker/img/buffalo/buffalo_1.gif');
}

.sticker[st='buffalo_2'] {
    background-image: url('/apps/messenger/assets/sticker/img/buffalo/buffalo_2.gif');
}

.sticker[st='buffalo_3'] {
    background-image: url('/apps/messenger/assets/sticker/img/buffalo/buffalo_3.gif');
}

.sticker[st='buffalo_4'] {
    background-image: url('/apps/messenger/assets/sticker/img/buffalo/buffalo_4.gif');
}

.sticker[st='buffalo_5'] {
    background-image: url('/apps/messenger/assets/sticker/img/buffalo/buffalo_5.gif');
}

.sticker[st='buffalo_6'] {
    background-image: url('/apps/messenger/assets/sticker/img/buffalo/buffalo_6.gif');
}

.sticker[st='buffalo_7'] {
    background-image: url('/apps/messenger/assets/sticker/img/buffalo/buffalo_7.gif');
}

.sticker[st='buffalo_8'] {
    background-image: url('/apps/messenger/assets/sticker/img/buffalo/buffalo_8.gif');
}

.sticker[st='buffalo_9'] {
    background-image: url('/apps/messenger/assets/sticker/img/buffalo/buffalo_9.gif');
}

.sticker[st='buffalo_10'] {
    background-image: url('/apps/messenger/assets/sticker/img/buffalo/buffalo_10.gif');
}

.sticker[st='buffalo_11'] {
    background-image: url('/apps/messenger/assets/sticker/img/buffalo/buffalo_11.gif');
}

// ------------------------------------------------- Hình cục gấu bông hồng cầm đàn

[sticker-name='seal'] {
    background-image: url('/apps/messenger/assets/sticker/img/seal/seal_2.gif');
}

.sticker[st='seal_1'] {
    background-image: url('/apps/messenger/assets/sticker/img/seal/seal_1.gif');
}

.sticker[st='seal_2'] {
    background-image: url('/apps/messenger/assets/sticker/img/seal/seal_2.gif');
}

.sticker[st='seal_3'] {
    background-image: url('/apps/messenger/assets/sticker/img/seal/seal_3.gif');
}

.sticker[st='seal_4'] {
    background-image: url('/apps/messenger/assets/sticker/img/seal/seal_4.gif');
}

.sticker[st='seal_5'] {
    background-image: url('/apps/messenger/assets/sticker/img/seal/seal_5.gif');
}

.sticker[st='seal_6'] {
    background-image: url('/apps/messenger/assets/sticker/img/seal/seal_6.gif');
}

.sticker[st='seal_7'] {
    background-image: url('/apps/messenger/assets/sticker/img/seal/seal_7.gif');
}

.sticker[st='seal_8'] {
    background-image: url('/apps/messenger/assets/sticker/img/seal/seal_8.gif');
}

// ------------------------------------------ Hình con chó nhỏ
[sticker-name='smalldog'] {
    background-image: url('/apps/messenger/assets/sticker/img/smalldog/smalldog_10.gif');
}

.sticker[st='smalldog_1'] {
    background-image: url('/apps/messenger/assets/sticker/img/smalldog/smalldog_1.gif');
}

.sticker[st='smalldog_2'] {
    background-image: url('/apps/messenger/assets/sticker/img/smalldog/smalldog_2.gif');
}

.sticker[st='smalldog_3'] {
    background-image: url('/apps/messenger/assets/sticker/img/smalldog/smalldog_3.gif');
}

.sticker[st='smalldog_4'] {
    background-image: url('/apps/messenger/assets/sticker/img/smalldog/smalldog_4.gif');
}

.sticker[st='smalldog_5'] {
    background-image: url('/apps/messenger/assets/sticker/img/smalldog/smalldog_5.gif');
}

.sticker[st='smalldog_6'] {
    background-image: url('/apps/messenger/assets/sticker/img/smalldog/smalldog_6.gif');
}

.sticker[st='smalldog_7'] {
    background-image: url('/apps/messenger/assets/sticker/img/smalldog/smalldog_7.gif');
}

.sticker[st='smalldog_8'] {
    background-image: url('/apps/messenger/assets/sticker/img/smalldog/smalldog_8.gif');
}

.sticker[st='smalldog_9'] {
    background-image: url('/apps/messenger/assets/sticker/img/smalldog/smalldog_9.gif');
}

.sticker[st='smalldog_10'] {
    background-image: url('/apps/messenger/assets/sticker/img/smalldog/smalldog_10.gif');
}

.sticker[st='smalldog_11'] {
    background-image: url('/apps/messenger/assets/sticker/img/smalldog/smalldog_11.gif');
}

.sticker[st='smalldog_12'] {
    background-image: url('/apps/messenger/assets/sticker/img/smalldog/smalldog_12.gif');
}

.sticker[st='smalldog_13'] {
    background-image: url('/apps/messenger/assets/sticker/img/smalldog/smalldog_13.gif');
}

.sticker[st='smalldog_14'] {
    background-image: url('/apps/messenger/assets/sticker/img/smalldog/smalldog_14.gif');
}

.sticker[st='smalldog_15'] {
    background-image: url('/apps/messenger/assets/sticker/img/smalldog/smalldog_15.gif');
}

.sticker[st='smalldog_16'] {
    background-image: url('/apps/messenger/assets/sticker/img/smalldog/smalldog_16.gif');
}


.sticker {
    display: block;
    width: 64px;
    height: 64px;
    background-size: cover;
}

.animation {
    background-size: 304px 228px !important;
    cursor: default;
    height: 64px;
    width: 64px;
    background-position: -6px -6px;
    image-rendering: -webkit-optimize-contrast;
}

.sticker_animate {
    -webkit-animation-name: stickerAnimation;
    -webkit-animation-duration: 0.9s;
    -webkit-animation-timing-function: step-start;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-fill-mode: both;
}

@-webkit-keyframes stickerAnimation {
    0% {
        background-position: -6px -6px;
    }

    25% {
        background-position: -82px -234px;
    }

    50% {
        background-position: -158px -158px;
    }

    75% {
        background-position: -234px -82px;
    }

    100% {
        background-position: -316px -6px;
    }
}



[sticker-name='trashrobot'] {
    background-image: url('/apps/messenger/assets/sticker/img/trashrobot/trashrobot_6.gif');
}

.sticker[st='trashrobot_1'] {
    background-image: url('/apps/messenger/assets/sticker/img/trashrobot/trashrobot_1.gif');
}

.sticker[st='trashrobot_2'] {
    background-image: url('/apps/messenger/assets/sticker/img/trashrobot/trashrobot_2.gif');
}

.sticker[st='trashrobot_3'] {
    background-image: url('/apps/messenger/assets/sticker/img/trashrobot/trashrobot_3.gif');
}

.sticker[st='trashrobot_4'] {
    background-image: url('/apps/messenger/assets/sticker/img/trashrobot/trashrobot_4.gif');
}

.sticker[st='trashrobot_5'] {
    background-image: url('/apps/messenger/assets/sticker/img/trashrobot/trashrobot_5.gif');
}

.sticker[st='trashrobot_6'] {
    background-image: url('/apps/messenger/assets/sticker/img/trashrobot/trashrobot_6.gif');
}

.sticker[st='trashrobot_7'] {
    background-image: url('/apps/messenger/assets/sticker/img/trashrobot/trashrobot_7.gif');
}

.sticker[st='trashrobot_8'] {
    background-image: url('/apps/messenger/assets/sticker/img/trashrobot/trashrobot_8.gif');
}

.sticker[st='trashrobot_9'] {
    background-image: url('/apps/messenger/assets/sticker/img/trashrobot/trashrobot_9.gif');
}
.sticker[st='trashrobot_10'] {
    background-image: url('/apps/messenger/assets/sticker/img/trashrobot/trashrobot_10.gif');
}
