@import "../../../../assets/scss/var-color.scss";
@import "../../../../assets/scss/var-font.scss";
@import "../../../../assets/scss/var-cls.scss";
@import "../../../../assets/scss/var-icon.scss";
@import "../../../../assets/scss/var-styleguide.scss";

::ng-deep {

    .popup-import-doc-sample {

        .amis-custom-grid .dx-datagrid-borders>.dx-datagrid-headers,
        .amis-custom-grid .dx-datagrid-borders>.dx-datagrid-rowsview,
        .amis-custom-grid .dx-datagrid-borders>.dx-datagrid-total-footer {
            max-height: 354px;
        }

        .input-import {
            display: none;
        }

        .import-file {
            border: 1px $border dashed;
            height: 324px;
            width: 100%;
            border-radius: $border-radius;
            font-size: $font-size-small;

            .item-middle {
                margin-bottom: 12px;

                &:first-child {
                    font-size: $font-size-strong;
                }
            }

            .gray {
                color: $text-grey;
            }
        }

        .manage-file {
            .amis-custom-grid {
                overflow-x: hidden !important;
            }

            .grid-template {
                border-radius: $border-radius;
                border: 1px solid $border;
            }
        }
    }
}