<div class="app-header flex-sb-m">
  <div class="flex-m">
    <div class="icon-launcher cur icon-trgger bold" id="AMIS_Launcher"></div>
    <div class="icon-logo cur m-l-12"></div>
    <div style="font-weight: 700;" class="fs-18 m-l-12"> {{"AMIS_CHAT" | translate}}</div>
  </div>
  <!--
  <div class="flex-m">
    <nz-switch [(ngModel)]="theme" (ngModelChange)="toggleTheme()"></nz-switch>
  </div> -->
  <div class="avatar cur m-l-8" id="AMIS_Account" style="width:32px; height:32px;"></div>

</div>

<!-- <amis-popup-rename-group></amis-popup-rename-group> -->
