<amis-form-control [labelFontWeight]="_labelFontWeight" [labelClass]="_labelClass" [isShowLabel]="_isShowLabel"
  [labelWidth]="_labelWidth" [labelText]="_labelText" [isRequired]="_isRequiredLabel" [labelPositon]="_labelPositon"
  [fieldName]="_fieldName" [tooltipContent]="_tooltipContent" [isShowTooltip]="_isShowTooltip" [labelColor]="labelColor">
  <div #control class="wrap-control control-file-size dis-flex dis-align-items-center" title="{{value && (_readonly || isNotPermissionUpdate) ? value : ''}}">
    <div *ngIf="!_isViewOnly || (_isEditable && !_isViewEditable)" class="dis-flex-grow text-overflow">
      <div class="flex dis-flex-grow dis-flex">
        <div [class.disabled-control]="_readonly  || isNotPermissionUpdate" class="dis-flex-grow text-overflow">
          <div class="box-content-file-size">{{valueDisplay | number}}</div>
        </div>
        <div [class.disabled-control]="_readonly" class="hide dis-flex-grow text-overflow">
          <dx-number-box #input format="{{_format}}" (onValueChanged)="onValueChanged($event)"
            [placeholder]="_placeholder" #formControl="ngModel" (keydown)="onKeyDown.emit($event)"
            [min]="_minValue ? _minValue : 0" [max]="_maxValue" [(ngModel)]="value" [disabled]="_readonly || isNotPermissionUpdate"
            [class.border-error]="_isSubmit && _isShowError && (formControl.errors || _isErrorCustom || _isError)"
            (onFocusIn)="selectAll(input, 'input')" >
          </dx-number-box>
        </div>
        <div *ngIf="_isEditable && !_isViewEditable" class="dis-flex dis-align-items-center option-icons pl-2">
          <amis-icon [classIcon]="'icon-tick-circle-green'" (click)="onClickDone()"
            tooltipContent="{{'SAVE' | translate}}">
          </amis-icon>
          
          <amis-icon [classIcon]="'icon-error-circle'" (click)="onClickCancel()"
            tooltipContent="{{'CANCEL' | translate}}">
          </amis-icon>
        </div>
      </div>
      <div *ngIf="_isSubmit && _isShowError && !_readonly" class="white-space-initial">
        <div class="text-error" *ngIf="formControl.errors && !_isErrorCustom && !_isError"
          [innerHTML]="formControl.errors?.message">
          <!-- {{formControl.errors?.message}} -->
        </div>
        <div class="text-error" *ngIf="_isErrorCustom || _isError" [innerHTML]="_errorMessage">
          <!-- {{ _errorMessage }} -->
        </div>
      </div>
    </div>
    <div *ngIf="_isViewOnly || (_isEditable && _isViewEditable)" class="dis-flex-grow value-display text-overflow">
      <div class="dis-flex-grow dis-flex dis-flex-row field-value text-overflow"
        [class.editable-field-value]="!_readonly && _isEditable && _isViewEditable">
        <div *ngIf="!!value" class="text-overflow">{{valueDisplay | number}}</div>
        <div *ngIf="!value">--</div>
      </div>
    </div>

    <div *ngIf="(_isEditable && _isViewEditable) && !_readonly" class="cursor-pointer option-icons">
      <div class="ml-2" subSystemCode="{{_permissionSubSystemCode}}" permissionCodeList="{{_permissionCode}}"
        actionCode="{{permissionCodeEntity.Edit}}" permissionObject="{{_permissionObject}}">
        <amis-icon [classIcon]="'icon-edit '" (click)="onClickEdit()" tooltipContent="{{'EDIT2' | translate}}">
        </amis-icon>
      </div>
      <amis-icon [classIcon]="'icon-duplicate '" (click)="onClickDuplicate()" tooltipContent="{{'COPY' | translate}}">
      </amis-icon>
    </div>
    <div *ngIf="(_isEditable && _isViewEditable) && _readonly" class="option-icons">
      <div class="no-hover-icon ml-2" subSystemCode="{{_permissionSubSystemCode}}" permissionCodeList="{{_permissionCode}}"
        actionCode="{{permissionCodeEntity.Edit}}" permissionObject="{{_permissionObject}}">
        <amis-icon [classIcon]="'icon-lock '" [isCursorPointer]="false" [isShowTooltip]="false" [isHoverState]="false">
        </amis-icon>
      </div>
      <amis-icon [classIcon]="'icon-duplicate '" (click)="onClickDuplicate()" tooltipContent="{{'COPY' | translate}}">
      </amis-icon>
    </div>
  </div>
</amis-form-control>