<amis-amis-control-popup [position]="positionFormDataGrid" [isVisible]="visibleForm">
  <div amisPopupContent class="w-100 h-100">
      <ng-container #formBindingData></ng-container>
      <ng-container *ngIf="typeForm === typeFormGrid.UseGroupFieldConfig">
          <amis-compare-group-grid-form-edit [controller]="_controller" [subSystemCode]="_subSystemCode"
              [inputParam]="paramInput" (afterCancel)="cancel($event)" (afterSaveSuccess)="saveSucces($event)">
              <div amisLayoutTitle>
                  <div class="dis-flex">
                      <amis-icon [classIcon]="'icon-arrow-left'" class="mr-2" (click)="closeForm()"
                          [tooltipContent]="'BACK_2'|translate">
                      </amis-icon>
                      {{titleForm}}
                  </div>
              </div>
          </amis-compare-group-grid-form-edit>
      </ng-container>
  </div>
</amis-amis-control-popup>
